<div class="jumbotron">
    <h1>Gestión de tareas y usuarios</h1>    
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Compañía Internacional de Integración S.A. CI2</h2>
        <p>Es una empresa Colombiana que brinda al mercado nacional productos y soluciones tecnológicas a la medida. Con su diseño, ingeniería y productos de calidad reconocida, entrega a sus clientes finales soluciones para proyectos de telecomunicaciones, de seguridad electrónica, de sistemas de CCTV y aplicaciones marítimas..</p>
        <p><a class="btn btn-default" href="https://www.ci2.co/new/es">Web de la compañía</a></p>
    </div>  
    <div class="col-md-6">
        <h2>Carlos Alvarado</h2>
        <p>Conocimientos en ingeniería del software; con experiencia en análisis, diseño, desarrollo, implantación y realizar capacitaciones de sistemas de información. Experiencia en proyectos de investigación y desarrollo tecnológico.</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/carlosalvaradofarfan/">Perfil linkedin</a></p>
    </div>
</div>
